<div class="service-container">
    <div class="service-header">
        <div class="header-content">
            <span>NOSSOS SERVIÇOS</span>
            <span id="subtitle">Na Jogga, nós entendemos a importância de cada venda. 
            Por isso, criamos uma solução completa para atração de clientes.
            Para que você e sua equipe se preocupem apenas em fechar negócios.</span>
        </div>
    </div>
    <div class="partners-container">
        <div class="partners-container-header">
            <div class="partners-container-header-card">
                <div class="partners-container-header-card-content">
                    <span>FALE COM NOSSO TIME DE ESPECIALISTAS.</span>
                    <span id="subtitle">Nós apresentaremos as melhores soluções
                    digitais para seu negócio.</span>
                </div>
                <div>
                    <img src="../../assets//images/telefone.png" alt="telefone"/>
                </div>
            </div>
        </div>
        <div class="brands">
            <span>QUEM CONFIA NA GENTE</span>
            <ul>
                <li>
                    <div>
                        <img src="../../assets/images/ford.png" alt="ford"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/audi.png" alt="audi"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/moura.png" alt="moura"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/lexus.png" alt="lexus"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/fiori-fiat.png" alt="fioriFiat"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/fiori.png" alt="fiori"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/jaguar-way.png" alt="jaguarWay"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/hmb.png" alt="hmb"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/mardisa.png" alt="madrisa"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/muma.png" alt="muma"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/toyolex.png" alt="toyolex"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/jcpm.png" alt="jcpm"/>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="../../assets/images/jaguar.png" alt="jaguar"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>