<div class="form-container">
    <div class="content">

        <img src="../../assets/images/modelo.png" alt="modelo">
        <div class="text-container">
            <span id="txt1">Conquiste mais clientes a um clique de distância</span>
            <br/>
            <span id="txt2">Use anúncios no FACEBOOK, INSTAGRAM e GOOGLE e 
            apareça para os clientes certos, nos locais certos </span>
            <img src="../../assets/images/partners.png" alt="partners">
        </div>
        <form >
            <div>
                <span>SOLUÇÕES PERSONALIZADAS PARA SUA EMPRESA. FALE CONOSCO</span>
            </div>
            
            <p>NOME</p>
                <input  type="text"  name="name"/>
                <span>Campo obrigatório</span>
            <p>E-MAIL</p>
                <input  type="email" name="email"/>
                <span>Campo obrigatório</span>
            <p>TELEFONE</p>
                <input type="text" name="phone"/>
                <span>Campo obrigatório</span>
            <button  type="submit">ENVIAR</button>
        </form>
    </div>
</div>