<div class="row">
    <div class="body-header">
        <div class="header-left">
            <span>COMO PODEMOS AJUDAR</span>
        </div>
        <div class="header-right">
            <div>

                <span>O Brasil tem mais de 150 milhões de usuários online, 
                  em redes sociais e consultando informações antes de compra.
                  Nossa solução traz seu negócio para o ambiente digital, melhorando a eficiência 
                  de seus resultados e dando acesso às informações necessárias para cada venda.</span>
            </div>
        </div>
    </div>
</div>