<div class="options-container">
    <div class="options-content">
        <ul>
            <li>
                <div>
                    <img src="../../assets/images/anuncio-face.png" alt="face"/>
                    <span>ANÚNCIOS PARA FACEBOOK, INSTAGRAM, GOOGLE E OUTROS</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/sites-otimizados.png" alt="">
                    <span>SITE OTIMIZADO PARA VENDAS</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/crm.png" alt="">
                    <span>INTEGRAÇÃO COM CRM</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/painel.png" alt="">
                    <span>PAINEL DE RESULTADOS EM TEMPO REAL</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/banco.png" alt="">
                    <span>BANCO DE CHAMADAS RECEBIDAS</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/plane.png" alt="">
                    <span>PLANEJAMENTO DE ANÚNCIOS</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/artes.png" alt="">
                    <span>CRIAÇÃO DE ARTES DE ANÚNCIOS</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/relatorios.png" alt="">
                    <span>RELATÓRIOS INDIVIDUAIS</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/otm.png" alt="">
                    <span>OTIMIZAÇÃO DE ANÚNCIOS</span>
                </div>
            </li>
            <li>
                <div>
                    <img src="../../assets/images/suporte.png" alt="">
                    <span>SUPORTE ESPECIALIZADO</span>
                </div>
            </li>
        </ul>
    </div>
</div>